div{
	background: dodgerblue;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-bottom: 35px solid limegreen;
	float: left;
}
ul{
	list-style: none;
	padding: 0;
	margin: auto;
}
ul li{
	display: block;
	position: relative;
	float: left;
	background: dodgerblue;
	padding: 1em;
	color: white;
	width: 100px;
}
 li ul{
	display: none;
}
li:hover > ul {
	display: block;
	position: absolute;
	right: 0;
	text-align: left;
}
li:hover{
	background-color: limegreen;
}
ul ul ul {
	left: 100%;
	top: 0;
}