label{
	width: 15em;
	float: left;
	margin-top: 1px;
	text-align: right;
	display: block;
	color:yellow;
}
label.agree{
	width: 20em;
	text-align: right;
	display: block;
	color:yellow;
	margin-left: 190px;
	margin-bottom: 20px;
}
#background{
	background-color: black;
	border: 2px solid orange;
	height: 33em;
	margin-top: -2px;
}
#upper{
	background-color: orange;
	box-sizing: border-box;
	border-radius: 5px;
	height: 98vh;
}
input, select{
	width: 60%;
	height: 30px;
	border-radius: 5px;
	box-sizing: border-box;
	margin-left: 70px;
	margin-bottom: 20px;
	
}
input[type=radio] {
	border: 0px;
    	width: 20px;
    	height: 20px;
    	margin: 0;
	margin-left: 70px;
	margin-bottom: 20px;
}
h3{
	color: yellow; 
	padding: 8px 0px 8px 20px; 
	vertical-align: middle; 
	margin: 0px;
} 
p{
	color: yellow; 
	display: inline;
}
input[type=checkbox]{
	height: 20px; 
	width: 20px;
}
input[type=button]{
	background-color: red; 
	color: white;
	 margin: 10px 5px 0px 5px; 
	border: none; 
	width:60px;
	 float: right;
}
input[type=submit]{
	background-color: green;
	 color: white; 
	margin: 10px 5px 0px 0px; 
	border: none;
	 width: 60px;
	 float: right;
}